.application {
    --header-height: 60px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    padding: 10px;
    background-color: var(--bs-primary);
    list-style: none;
    z-index: 99;

    nav {
        a {
            opacity: 0.7;
        }

        a.active,
        a:hover {
            opacity: 1;
        }
    }
}

main {
    position: relative;
    top: var(--header-height);
    flex: 1;
}
